table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;
}
th, td {
    padding:20px;
}
body {
    background: linear-gradient(to right, #66ffcc 0%, #ffcccc 100%); 
    font-size: 25px;
    font-family:Monaco;
}